body{
    margin: 0;
    width: 100%;
    height: 1   00%;
    
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(62, 64, 149);
    margin: 0;
    display: flex;

}

.Imagem-de-fundo{
    width: 100%;
    height: 78vh;
    display: flex;
    align-content: center;
    justify-content: center ;
    margin: 0;
}

.banner{
    width: 100%;
    height: 78vh;
    z-index: -2;
    position: absolute;
    margin: 0;
}

article{
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    position: relative;

}
.textobanner{
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
span{
    color: rgb(248, 158,50);
    font-weight: bold;
    font-size: 26pt;
}

.textobanner h1{
    font-family: 'Comfortaa', cursive;
    color: black;
    margin:0;
    font-weight: bold;
    font-size: 37pt;
    justify-content: flex-start

}
.textobanner h2{
    font-family: 'Roboto', sans-serif;
    color: black);
    margin:0;
    font-weight: bold;
    font-size: 24pt;
    justify-content: flex-end;
    

}

.menu{
    background-color: rgb(248, 158,50);
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    
}
.textobanner2{
    position: relative;
    margin-top: 0px;
    width: 100%;
    display: flex;

}
.textobanner2 p{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 24pt;
    justify-content: center;
}

.menu a{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    font-weight: bold;
   
}


.section2{
    display: flex;
    width: 100%;
    height: 35vh;
    background-color: white;
    justify-content: center;
    flex-direction: row;


}


.item{
    display: flex;
    flex-direction: column;
    width: 38vh;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

.item h2,h3,h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    font-weight: bold;
}

}

.iconesverdes img{
    width: 120px;
    height: 100px;
}



.section3{
    display: flex;
    align-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211, 0.4);
    height: 315px;

}

.textosection3{
    display: flex;
    flex-wrap: wrap;
    width: 42%;
    margin-left: 200px;
    align-items: normal;
    justify-content: normal;
}

}

.textosection3 h1{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    left: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.textosection3 p{
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    color: grey;
    margin: 0;
    display: flex;

}

#botoes{
    font-family: 'Roboto', sans-serif;
    


}

.preencher{
    margin: 20;
    padding: 0;
}

#botoes input{
    height: 30px;
    width: 400px;
    background-color: white;
    border-radius: 8%;
    margin: 20;
    padding: 0;
    border: 5px;

}

}
#botoes button{
    height: 44px;
    width: 65px;
    background-color: green;
    border-radius: 8%;
    margin: 0;
    padding: 0;
    border: 1px;
}

.videosection3 video{
        border-radius: 3%;
}



.section4{
    width: 100%;
    height: 200px;
    background-color: white;

}

.section4 p{
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    color: grey;
    text-align: center;
    margin: 0;
}


.section4 h1,h2{

}

.imagens-pessoas{

}